html,
body,
#root {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body {
  background-size: cover;
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;

  font-family: "Poppins", sans-serif;
}

button > span {
  text-transform: none;
}

@font-face {
  font-family: "Poppins";
  font-weight: normal;
  src: url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PoppinsBold";
  font-weight: bold;
  src: url(./assets/fonts/Poppins-Bold.ttf) format("truetype");
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.6s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.color-change {
  animation: 13500ms ease-in-out infinite color-change;
}

@keyframes color-change {
  0% {
    background-color: #e64f00;
  }
  15% {
    background-color: #e6004d;
  }
  30% {
    background-color: #6138f5;
  }
  45% {
    background-color: #1f69ff;
  }
  60% {
    background-color: #008558;
  }
  75% {
    background-color: #ffaa00;
  }
  100% {
    background-color: #e64f00;
  }
}

.bounce-in {
  animation: bounce 4s;
  transform: scale(0);
}

@keyframes bounce {
  0% {
    transform: scale(0.1);
  }
  1% {
    transform: scale(0.2);
  }
  2% {
    transform: scale(0.3);
  }
  3% {
    transform: scale(0.4);
  }
  4% {
    transform: scale(0.5);
  }
  10% {
    transform: scale(1.4);
  }
  15% {
    transform: scale(0.4);
  }
  20% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.spin-image {
  animation: rotation 40s infinite linear;
}
